[Unit]
Description=MailBot 定时触发器
Requires=yxo-mailbot.service

[Timer]
OnCalendar=*:0/15
Persistent=true
RandomizedDelaySec=30

[Install]
WantedBy=timers.target